#reader {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}

button {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px;
    border-color: transparent;
    border-style: solid;
    border-radius: 0px;
    width: 10%;
    height: 50px;
    transition: border-radius 0.15s ease-out;
}

button:hover {
    border-radius: 20px;
}

button:active {
    border-color: white;
}


#taskbar {
    flex: 1;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#strip {
    flex: 1;
    flex-direction: column;
    display: flex;
}

#metadata_text {
    font-family: 'Roboto', sans-serif;
}